body{
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
    background-color: white;
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.card{
    width: 30%;
    background-color: white;
    margin-top: 3rem;
}

.nav{
    display: flex;
    padding: 1rem;
}
.tittle{
    flex-grow: 1;
    
}
img{
    object-fit: cover;
    width: 100%;
}
.desc{
    padding:1rem;
}
